.percent {
  color: #4cae4c;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border: none;
}
.bar {
  margin-bottom: 50px;
}
h3 {
  margin: 0 0 30px;
}
.ui-slider-range {
  background: #4cae4c;
}
#status {
  font-size: 20px;
  color: #4cae4c;
}
#warning {
  color: #c12e2a;
}
.form-group {
  width: 30%;
  margin: 40px auto auto;
}
.form-control {
  margin-bottom: 20px;
}
.btn {
  margin-bottom: 10px;
}
.btn:focus {
  outline: none;
}
